.infoServicios {
    width: 90%;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
    position: fixed;
}

.infoServicios::backdrop {
    background: hsla(0, 0%, 0%, 0.282);

}

.infoServicios img{
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
    transition: .3s ease;
}
.infoServicios img:hover{
    scale: .8;
}